.home{
    background-image: url(images/hero-bg.png);
}
.img-mic{
    height: 60px;
    border: solid white;
    border-radius:30px ;
}
.card-image{
    height: 60px;
    width: 70px;
}
.test_img2-bg{
    background-image: url(images/testimonial_bg.jpg);
}
.img-border{
    border-radius: 30px;
}
.color-blue{
    background-color: #3C60F4;
}
.colorblue2{
    background-color: #3C60F4;
}
.text-color{
    color: #3C60F4;
}
#darkmode{
    border: 1px groove #3C60F4;
}
.address-img{
    height: 40px;
}
@media screen and (min-width:992px){
    .solid{
        border-bottom: 1px groove white;
    }
    #sol{
        border-right: 1px groove white;
    }
    .soli{
        border: 1px groove white;
    }
}
/* JS CSS*/
.dark-mode{
    background-color: black;
    color: white;
}
.nav-text{
    color: white;
}

.textdark{
    color: white;
}